<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/game.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="/game.js"></script>
    <script>
        const username = '<%= username %>'
        const roomcode = '<%= roomcode %>'
        const statut = '<%= statut %>'
        const maxPlayer = '<%= maxPlayer %>'
        const nbTurn = '<%= nbTurn %>'
        const nbPlayers = '<%= nbPlayers %>'
    </script>
    <title>Document</title>
</head>
<body>
    <main id="main">
        <div class="loader">
            <h1>Loading...</h1>
            <div class="loading"></div>
          </div>
        <div class="timer">
            <div class="bg"></div>
            <div class="cadre"></div>
        </div>
        <div class="photos">
            <img src="" alt="">
        </div>
        <div class="answer">
            <input type="text" name="answer-input" id="answer-input">
        </div>
        <div class="suggests">
            <div class="suggests-title">Suggestions</div>
        </div>    
    </main>
</body>
</html>