<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/lobby.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="/lobby.js"></script>
    <script>
        const username = '<%= username %>'
        const roomCode = '<%= roomCode %>'
        const host = '<%= status %>'
        const maxPlayer = '<%= maxPlayer %>'
        const nbTurn = '<%= nbTurn %>'
    </script>
    <title>Guess The Celebrity !</title>
</head>
<body>
    <main>
        <div class="room-part">
            <div class="room-code">
                <h1><%= roomCode %></h1>
                <div class="popup">Copied to clipboard !</div>
                <p>Partagez le code à vos amis ! <br />(Cliquez dessus pour le copier)</p>
            </div>
            <div class="waiting-players">
                
            </div>
            <div class="start-button">
                <button id="start">Start</button>
                <div class="hide set"></div>
            </div>
        </div>
        <div class="chat-part">
            <div class="chat-header">
                CHAT
            </div>
            <div class="chat-box" id="chat-box">
                
            </div>
            <div class="send-message">
                <form action="" id="message-form">
                    <input type="text" name="message" id="message">
                    <input type="submit" value="Envoyer">
                </form>
            </div>
        </div>
    </main>
</body>
</html>